/server/.gradle/2.14.1/taskArtifacts/cache.properties
/server/.gradle/2.14.1/taskArtifacts/cache.properties.lock
/server/.gradle/2.14.1/taskArtifacts/fileHashes.bin
/server/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
/server/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
/server/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
/server/app/app.iml
/server/build/generated/mockable-android-25.jar
/server/local.properties
/server/server.iml
/server/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
/server/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
/server/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
/server/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
/client/.idea/gradle.xml
/client/.idea/misc.xml
/client/.idea/modules.xml
/client/.idea/vcs.xml
/server/.idea
/server/.gradle
/server/build/*
/server/app/app.iml
